<nav class="sticky-nav">
    <ul class="sticky-nav-list">
        <li class="sticky-nav-list-item"><a href="/">Home</a></li>
        <li class="sticky-nav-list-item"><a href="/writing.html">Writing</a></li>
        <li class="sticky-nav-list-item"><a href="/daily-thoughts.html">Daily thoughts</a></li>
        <li class="sticky-nav-list-item"><a href="/learning-notes.html">Learning notes</a></li>
        <li class="sticky-nav-list-item"><a href="/search.html">Search</a></li>
        <li class="sticky-nav-list-item"><a href="/contact.html">Contact</a></li>
    </ul>
</nav>

